<div data-ng-controller="HomeController" class="user-profile">
<div id="main">
    <section id="fiable">

        <div class="container">

            <h1>OUR MISSION.</h1>
                            
            <p class="overview">Fiable Oil Services is an oil servicing firm that provides the highest quality of service in the oil and gas industry.<br> We provide procurement services for drilling companies and other oil and gas allied companies.<br> Over the years we have served drilling companies in Port-Gentil , Gabon.<br> We provide products and services that enable optimal and safe drilling.<br> We work with our clients to improve productivity and efficiency.</p>
        
        </div><!-- end .container -->
    </section>
    <section id="section-divider-0">

        <div class="bg-one"></div>
        <div class="container">

            <div class="text-container">
        
                <section class="latest-quotess">
                    <ul class="quotes">             
                                                    
                        <li>
                            <blockquote><span class="show">We procure all manner of heavy and light-weight mechanical,electrical and electronic tools for oil and gas exploration form world class manufacturerers aroung the globe.</span></blockquote>
                        </li>
                                                
                    </ul><!-- end .quotes -->
                </section><!-- end .latest-quotes -->
        
            </div><!-- end .text-container -->
    
        </div><!-- end .container -->
    </section>
    <section id="about">
        
        <div class="container">
            
            <h1>SPECIALTY &amp; COMPETENCE</h1>
                            
            <p class="overview">Crude Oil Drilling Procurement Services have become a cornerstone of our operations.<br>
            Each service is tailored to meet the individual needs of the specific area of our clients business.<br>Through longstanding global alliances and networks, we efficiently source anything our clients require - anywhere from trusted sources.<br> Our partnerships allow us to achieve the ideal purchase: targeting value, product quality, and an optimal logistics solution to save time.<br> Our equipment manufacturers are based worldwide. </p>
            
            <!--div class="flexslider home-slider"-->   
            <!--/div--><!-- end #main-slider -->
        
        </div><!-- end .container -->
    
    </section><!-- end #about -->
        
            
    <section id="section-divider-1">
    
        <div class="bg-two"></div>
        <div class="container">

            <div class="text-container">
        
                <section class="latest-quotess">
                    <ul class="quotes">             
                                                    
                        <li>
                            <blockquote><span class="show">We procure all sizes of metallic, rubber and and plastic drilling hoses and pipes.</span></blockquote>
                        </li>
                                                
                    </ul><!-- end .quotes -->
                </section><!-- end .latest-quotes -->
        
            </div><!-- end .text-container -->
    
        </div><!-- end .container -->
        
        
    
    </section><!-- end #section-divider-1 -->
    
            
    <section id="service">
        <div class="container">
                
            <h1> CAPABILITY &amp; CONFIDENCE</h1>
                                    
            <p class="overview">We co-ordinate a wide variety of Oil and Gas procurement product services from locations around the globe.<br>Hence achieving shorter delivery times to our clients.<br> Our clients always count on Fiable Oil Services to consistently deliver quality with attention on performance and standards.</p>
        </div>                      
        
    <section id="services">

        <div class="container">

            <div id="all-services">                     
                <div class="service one-third column">
                    <h2>TRUST</h2>
                    
                    <p style="text-align: center;"><em><strong>Enthusiasm &#44; Capability &amp; Reliability</strong></em></p>
                    <p style="text-align: center;">come to us for any kind of procurement services and we will deliver quality and genuity before deadline.</p>
                    <p style="text-align: center;"><strong>Find us &amp; Aspire</strong></p>
                    <p>&nbsp;</p>
                
                </div><!-- end .service -->
                    
                                    
                <div class="service one-third column">
                
                                        
                    <h2>BELIEVE</h2>
                                                        
                    <p style="text-align: center;"><em><strong>Think &amp; Follow</strong></em></p>
                    <p style="text-align: center;">we handle any of your procurements, starting with safety materials &amp; equipemnts to large drilling pipes and valves; We also carry out disposal of industrial wastes</p>
                    <p style="text-align: center;"><strong>Safety &amp; Integrity</strong></p>
                            
                </div><!-- end .service -->
                            
                                            
                <div class="service one-third column">                  
                    <h2>WORK</h2>
                    <p style="text-align: center;"><em><strong>Service &#44; Committment &amp; Innovation</strong></em></p>
                    <p style="text-align: center;">At any phase of oil and gas exploration we are there to serve you</p>
                    <p style="text-align: center;"><strong>Satisfaction &amp; Continuity</strong></p>
                    <p>&nbsp;<br />
                    &nbsp;<br />
                    &nbsp;<br />
                    &nbsp;</p>
                    
                </div><!-- end .service -->
                                    
            </div><!-- end #all-services -->
                
        </div><!-- end .container -->
    </section>
    
    </section><!-- end #nuggets -->
        
            
    <section id="section-divider-2">
            
        <div class="bg-three"></div>
        <div class="container">

            <div class="text-container">
        
                <section class="latest-quotess">
                    <ul class="quotes">             
                                                    
                        <li>
                            <blockquote><span class="show">Our clients satisfaction is always target.<br> We always strive to keep them happy.</span></blockquote>
                            
                        </li>           
                                        
                    </ul><!-- end .quotes -->
                </section><!-- end .latest-quotes -->
        
            </div><!-- end .text-container -->
    
        </div><!-- end .container -->
                    
    </section><!-- end #section-divider-2 -->

    <section id="clients">
        <div class="container">
        
            <div class="text-container">
            
                <div class="logos sixteen columns">
            
                
                    <ul id="client-logos"><h1>OUR CLIENTS</h1>
                                                
                        <li><a href=""><img src="/modules/core/img/brand/kca.jpg" alt="" /></a></li>
                        <li><a href=""><img src="/modules/core/img/brand/hercules.png" alt="" /></a></li>
                        
                    </ul>
            
                </div><!-- end .logos -->
        
            </div><!-- end .text-container -->
        
        </div><!-- end .container -->
    </section>
            
    <section id="section-divider-3">
        
        <div class="bg-four"></div>
        
        <div class="container">
            
            <div class="text-container">
        
                <section class="latest-quotess">
                    <ul class="quotes">             
                                                    
                        <li>
                            <blockquote><span class="show">We co-ordinate procurement of all manner of materials needed for smooth rig operations.</span></blockquote>          
                                        
                    </ul><!-- end .quotes -->
                </section><!-- end .latest-quotes -->
        
            </div><!-- end .text-container -->
        </div>
        
    </section><!-- end #section-divider-3 -->
            
    <section id="meet-the-team">
                    
        <div class="container"> 
            <h1>TEAM AWESOMENESS</h1>
                                
            <p class="overview">Our awesome team approach all projects with enthusiasm and professionalism to success.<br>we are always around awesome people. </p>
                
        </div><!-- end .container -->
                
    </section><!-- end #meet-the-team -->
        
                
    <section id="section-divider-4">
        
    <div class="bg-five"></div>
        
        <div class="container">
            
            <div class="text-container">
        
                <section class="latest-quotess">
                    <ul class="quotes">             
                                                    
                        <li>
                            <blockquote><span class="show">Our awesome team is always ready for mobilization to work and meet clients deadlines.</span></blockquote>
                        </li>       
                                        
                    </ul><!-- end .quotes -->
                </section><!-- end .latest-quotes -->
        
            </div><!-- end .text-container -->
        </div>
        
    </section><!-- end #section-divider-4 -->
    
    <section id="contact">
    
        <div class="container">
        
            <div class="row">
    
                    <h1 id="locate-us">LOCATE US</h1>
                    <address>
                        <p class="address">BP.1055 &nbsp; PORT-GENTIL &nbsp; CARREFOUR &nbsp; BANCO</p><br/>
                        <p class="address">07 &ndash; 15 &ndash; 54 &ndash; 75</p><br/>
                        <p class="address">fiableoilservices@yahoo.fr</p>
                    </address>
            <ul class="footer-content">
                <li>
                  &copy FaibleTech
                </li>
            </ul>
            </div><!-- end .row -->   
        
        </div><!-- end .container -->
    
    </section><!-- end #contact -->
    
</div>
</div>