<div data-ng-controller="HomeController" class="user-profile">
    <div>
        <div class="row row-blocks">
            <div class="col-xs-12" data-ng-hide="authentication.user.provider === 'local'">
                <span><h3>Bienvenue sur FIABLEOps
                    <a ui-sref="signup()" class="small">Cliquez pour vous inscrire</a></h3>
                    </span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
  
        <!-- <img src="/modules/core/img/brand/image2.jpeg">
  
        <img src="/modules/core/img/brand/images4.jpeg"> -->
    </div>
        <!-- <img src="/modules/core/img/brand/hmh-map.jpg"> -->
    
    <div class="col-xs-12">
        <img src="/modules/core/img/brand/images3.jpeg">
        <img src="/modules/core/img/brand/bg.jpg">
      
        <img src="/modules/core/img/brand/images5.jpeg">
      
    </div>
</div>
</div>
