
/**/
  .navbar-right {
      float: right !important;
      margin-right: 2px;
  }

  table {
      background-color: #FFF !important;
      border: 1px solid #FAFAFA;
      padding: 0;
      margin: 0;
  }
  td a{
      font-size: 0.9em;
  }
  td{
      font-size: 0.8em;
  }
  th{
      font-size: 0.8em;
  }
  .content {
      margin-top: 20px;
      position: relative;
      background-color: #FAFAFA;
      font-family: 'Pathway Gothic One', sans-serif;
      font-size: 1.3em;
  }
  .imgHome {
      min-width: 100%;
  }
  .signUpIn, .profile-heading {
      font-size: 1.4em;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
      /*margin-left: 15px;*/
      font-size: 1.8em;
  }
  a {
      font-family: 'Pathway Gothic One', sans-serif;
      font-weight: bolder;
      color: #337ab7 !important;
      font-size: 1.25em;
      text-decoration: none;
  }
  th a {
      font-size: 1em !important;
      text-decoration: none;
  }
  a:hover {
      color: #000 !important;
      text-decoration: none;
  }
  .navbar-header:hover {
      background-color: #ECECEC;
      font-size: 1em;
  }
  .undecorated-link:hover {
      text-decoration: none;
  }
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
  }
  .ng-invalid.ng-dirty {
      border-color: #FA787E;
  }
  .ng-valid.ng-dirty {
      border-color: #78FA89;
  }
  /*.body-image {} .ambient-image {
      height: 150px;
      /*background-image: url('../img/overview.jpg');
  }*/

  #map {
      height: 500px;
      /*width: 100%;*/
      min-width: 100%;
      border: 8px solid #FFF;
  }
  .row-blocks {
      margin: 20px auto;
  }
  #footer {
      opacity: 0.7;
      height: 50%;
      text-align: left;
  }
  .user-profile {
      min-height: 100vh;
  }
  .footer-content {
      text-decoration: none;
      font-weight: bolder;
  }
  .footer-content li {
      display: inline-block;
      padding: 10px 80px;
      line-height: 2em;
  }
  .view-footer{
   margin-top: 15%;   
  }
  .client-heading, .heading{
      text-decoration: underline; 
  }
  #footer-p, .view-footer{
      text-align: center;
      font-size: 0.5em;
  }
  section{
    min-width: 100%;
    background-size: cover;
    top: 0;
    bottom: 0;
  }

  nav ul li {
  /*margin :0 60px;*/
  }
  #header-background-nav{
  position: fixed;
  }
  #fiable-header{
  float: left;
  font-size: 1em;
  font-weight: bolder;
  font-family: 'Pathway Gothic One', sans-serif;

  }
  #serve .overview, #fiable .overview, #about .overview, #meet-the-team .overview {
    font-size: 20px;
    line-height: 36px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: darkkhaki;
  }
  .container h1 ,.container .row h1 {
  text-align: center;
  margin-top: 70px !important;
  }

  .address{
    color:#fff; 
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;

  }
  #client-logos-title{
  color: #000;
  }

  .bg-one, .bg-two, .bg-three, .bg-four, .bg-five{
    min-width: 100%;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    /*background-size: 120%;*/
    background-size: cover!important;
    opacity: 0.4;
    /*-webkit-background-size: cover!important;*/
  }
  #contact{
    min-width: 100%;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    background-color: #000!important;
    /*-webkit-background-size: cover!important;*/
  }
  .bg-one {
    background: url(../img/brand/gasoil.jpg) no-repeat;
  }
  .bg-two {
   background: url(../img/brand/pipes.jpg) top center no-repeat;
  }
  .bg-three{
   background: url(../img/brand/rig1.png) no-repeat;
  }
  .bg-four {
   background: url(../img/brand/rig2.jpg) top center no-repeat;
  }
  .bg-five {
   background: url(../img/brand/team.jpg) top center no-repeat;
  }
  .show{
    color: burlywood;  
  }
  .latest-quotess blockquote {
    border-left: none!important;
    color: #f6f3f3;
    font-size: 28px;
    line-height: 35px;
    margin-top: 19%;;
    font-family: 'Pathway }

    font-weight: bolderGothic One', sans-serif;
  }

  .latest-quotes blockquote {
    color: #333333;
    font-family: 'Pathway Gothic One', sans-serif;
    
  }
  blockquote {
    /*margin: 0 0 20px;*/
    padding: 9px 20px 0 19px;
  }
  blockquote, blockquote p {
    font-size: 17px;
    line-height: 24px;
    color: #000;
    font-style: italic;
    font-family: 'Pathway Gothic One', sans-serif;

  }
  blockquote, q {
    quotes: none;
  }

  #section-divider-4 .row{
    margin-top: 10%;
  }
  div {
    display: block;
  }

  p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px
  }
  p {
    margin: 0 0 20px 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  body p {
    color: #333333;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
  }
  div {
    display: block;
  }
  /*#service .overview {
    font-size: 1em;
    line-height: 36px;
  }*/
  ::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
  }

  #services {
    min-width: 100%;
    background: #fff;
    text-align: center;
    position: relative;
    z-index: 300;
    margin: 0 auto;
  }
  #services .container ::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
  }

  .container #all-services .one-third.column {
    /*width: 300px;*/
    min-width: 40%;
  }
  .container .column, .container .columns {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
  #all-services{
    min-width: 100%;
  }
  #all-services .service {
    margin: 0 auto;
  }
  #services .container #all-service {
    display: inline-block;
    background-color: #f6f3f3;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
    border: medium double #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s;
  }
  #services h2 {
    border-bottom: medium double #ddd;
    display: block;
    padding-bottom: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  #main {

   min-width: 100% !important;
  }
  h2 {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  h1, h2, h3, h4, h5, h6 {
    color: grey;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One', sans-serif;

  }


  #section-divider-1, #section-divider-2, #section-divider-3, #section-divider-4 ,#section-divider-0{
    min-width: 100%;
    height: 500px;
    background-color: #1c1f26;
    position: relative;
    text-align: center;
    margin-top: 60px;
  }

  .container {
    position: relative;
    /*width: 960px;*/
    min-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  body {
    min-width: 100% !important;
    color: #444;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  }
  .container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  #meet-the-team, #about, #clients ,#contact ,#service ,#fiable , #serve{
    min-width: 100%;
    background: #fff;
    text-align: center;
    /*padding: 70px 0;*/
    position: relative;
    z-index: 300;
    /*-webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .9);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .9);*/
  }

  #about , #clients {
    position: relative;
  }
  li {
    text-decoration: none;
    list-style: none;
  }
  .container .sixteen.columns {
    /*width: 940px;*/
    min-width: 100%;
  }

  .logos {
    text-align: center;
    padding: 20px;
  }
  #locate-us{
    color: #fff !important;
    margin: 0 auto;
  }
  #client-logos , #locate-us{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10;
    padding: 10px 0;
    list-style: none;
  }

  #client-logos li {
    display: inline-block;
    list-style: none;
  }

  ul {
    list-style: inside;
  }

  ul, ol {
    margin-bottom: 0px;
  }

  ol, ul {
    list-style: none;
  }
  .footer-content {
      text-decoration: none;
      font-weight: bolder;
  }
  .footer-content li {
      display: inline-block;
      padding: 10px 80px;
      line-height: 2em;
  }
  .view-footer{
   margin-top: 15%;   
  }
  .client-heading, .heading{
      text-decoration: underline; 
  }
  #footer-p, .view-footer{
      text-align: center;
      font-size: 0.5em;
  }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

  #all-services{
    font-size: 1.7em;
    /*line-height: 1.6em;*/
    padding: 2em;
    font-weight:bold;
    font-family: 'Pathway Gothic One', sans-serif;
  }
  #serve .overview, #fiable .overview, #about .overview, #meet-the-team .overview {
    font-size: 1.3em;
    line-height: 16px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: darkkhaki;
  }
  #section-divider-1, #section-divider-2, #section-divider-3, #section-divider-4 ,#section-divider-0{
    min-width: 100%;
    height: 200px;
    background-color: #1c1f26;
    position: relative;
    text-align: center;
    margin-top: 60px;
  }

  .bg-one, .bg-two, .bg-three, .bg-four, .bg-five{
    min-width: 100%;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    /*background-size: 120%;*/
    background-size: cover!important;
    opacity: 0.4;
    /*-webkit-background-size: cover!important;*/
  }
  .latest-quotess blockquote {
    border-left: none!important;
    color: #f6f3f3;
    font-size: 14px;
    line-height: 17px;
    margin-top: 20%;
    font-weight: bolder;
    font-family: 'Pathway Gothic One', sans-serif;

  }
  
  blockquote, blockquote p {
    font-size: 0.6em;
    line-height: 0.4em;
    color: #000;
    font-style: italic;
    font-family: 'Pathway Gothic One', sans-serif;

  }
  
  h2{
    font-size: 0.8em;
    line-height: 12px;
    margin-bottom: 10px;
  }
  p {
    margin: 0 0 10px 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0.6em;
    font: inherit;
    vertical-align: baseline;
  }
  body p {
    color: #333333;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 0.6em;
    font-style: normal;
    font-weight: normal;
  }
  .content {
      margin-top: 10px;
      position: relative;
      background-color: #FAFAFA;
      font-family: 'Pathway Gothic One', sans-serif;
      font-size: 0.7em;
  }
  .signUpIn, .profile-heading {
      font-size: 0.7em;
  }
  .address{
    color:#fff; 
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;

  }
  .container h1 {
    font-size: 1.6em;
  }
 
}




