<section data-ng-controller="ProformaController" class="user-profile">
    <div class="page-header">
        <h1>New Quotation</h1>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="quotation-No">Quotatoin No</label>
                        <input type="text" data-ng-model="proforma.quotationNo" id="quotation" class="form-control" placeholder="No/MM/YYYY" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="numero">Numero</label>
                        <input type="text" data-ng-model="proforma.numero" id="numero" class="form-control" placeholder="Q-No" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="numero">Reference</label>
                        <input type="text" data-ng-model="proforma.reference" id="Reference" class="form-control" placeholder="Reference" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
  <table class="table" data-ng-init="editable()">
   <tr>Description
        </th>
        <th>QTE
        </th>
        <th>Prix Unitaire
        </th>
        <th>Unitaire Total
    </tr>
    <tr ng-repeat="quotation in quotations">
        <td>{{quotation.description}}
        </td>
        <td>{{quotation.qtes}}
        </td>
        <td>{{quotation.unitPrice}}
        </td>
        <td>{{quotation.unitTotal}}
        </td>
    </tr>
    <tr>
        <th><tr></tr></th>
    </tr>
    <tr>
    <th>Total
        </th>
    </tr>
    <tr><td>{{total}}
        </td>
    </tr>
</table>

<form class="form-horizontal" role="form" ng-submit="addRow()">
    <div class="form-group">
        <label class="col-md-2 control-label">Description</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="description"
                ng-model="description" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Qtes</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="qtes"
                ng-model="qtes" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Unit Price</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="unitPrice"
                ng-model="unitPrice" />
        </div>
    </div>
    <div class="form-group">                                
        <div style="padding-left:110px">
            <input type="submit" value="Add" class="btn btn-primary"/>
        </div>
    </div>
</form>
</section>