<section data-ng-controller="InvoiceController" class="user-profile">
    <div class="page-header">
        <h1>New Invoice</h1>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="Invoice-No">Invoice No</label>
                        <input type="text" data-ng-model="invoice.invoiceNo" id="Invoice" class="form-control" placeholder="No/MM/YYYY" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="numero">Numero</label>
                        <input type="text" data-ng-model="invoice.numero" id="numero" class="form-control" placeholder="IV-No" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="numero">P.O.No</label>
                        <input type="text" data-ng-model="invoice.pon" id="Reference" class="form-control" placeholder="P.O.N: 267-5005940.0" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
  <!-- <table class="table" data-ng-init="editable()">
    <tr>
        <th>Description
        </th>
        <th>qtes
        </th>
        <th>Unit Price
        </th>
        <th>Unit Total
        </th>
    </tr>
    <tr ng-repeat="receipt in receipts">
        <td>{{receipt.description}}
        </td>
        <td>{{receipt.qtes}}
        </td>
        <td>{{receipt.unitPrice}}
        </td>
        <td>{{receipt.unitTotal}}
        </td>
    </tr>
    <tr>
        <th><tr></tr></th>
    </tr>
    <tr>
    <th>Total
        </th>
    </tr>
    <tr><td>{{total}}
        </td>
    </tr>
</table> -->

<!-- <form class="form-horizontal" role="form" ng-submit="addRow()">
    <div class="form-group">
        <label class="col-md-2 control-label">Description</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="description"
                ng-model="description" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Qtes</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="qtes"
                ng-model="qtes" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Unit Price</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="unitPrice"
                ng-model="unitPrice" />
        </div>
    </div>
    <div class="form-group">                                
        <div style="padding-left:110px">
            <input type="submit" value="Add" class="btn btn-primary"/>
        </div>
    </div>
</form> -->
</section>